.App {
  text-align: center;
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movieContainer {
  margin: 50px;
}

.detailContainer{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

h1 {
  background-image: url("/public/images/stagecurtains.jpeg");
  text-shadow: 10px, 10px, 10px, #222;
  object-fit: contain;
  height: 75px;
  padding: 50px;
  margin: 0px;
}